{% block barraNavegacion %}
<div class="clearfix">
  <div class="navbar navbar-default" role="navigation">
     <div class="navbar-header"><a class="navbar-brand" href="mainestadisticas.php">Torneos</a></div>
		 <ul class="nav navbar-nav navbar-left">
			{% for torneozona in torneosZonas %} 
				{% if torneozona.torneo.id == idTorneoActivo %} 
					<li class="dropdown; active"> 
				{% else %} 
					<li class="dropdown">
				{% endif %} 
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ torneozona.torneo.nombre }} <span class="caret"></span></a>
						<ul class="dropdown-menu  multi-level">
							  <li class="dropdown-submenu">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Posiciones </a>
									<ul class="dropdown-menu">
										{% for torenoZona in torneozona.zonas %} 
											<li><a href="estadisticasPosiciones.php?idTorneoZonaActiva={{ torenoZona.id }}&idZonaActiva={{ torenoZona.id_zona }}&idTorneoActivo={{ torneozona.torneo.id }}"> {{ torenoZona.nombreCorto }} </a></li>
										{% endfor %}
									</ul>
							  </li>
							  <li> <a href="estadisticasGoleadores.php?idTorneoActivo={{ torneozona.torneo.id }}"> Goleadores </a> </li>
							  <li> <a href="estadisticasExpulsados.php?idTorneoActivo={{ torneozona.torneo.id }}"> Sanciones </a> </li>
							  <li class="dropdown-submenu">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Equipos </a>
									<ul class="dropdown-menu">
										{% for torenoZona in torneozona.zonas %} 
											<li><a href="estadisticasEquipos.php?idTorneoZonaActiva={{ torenoZona.id }}&idZonaActiva={{ torenoZona.id_zona }}&idTorneoActivo={{ torneozona.torneo.id }}"> {{ torenoZona.nombreCorto }} </a></li>
										{% endfor %}
									</ul>
							  </li>
							  <li class="dropdown-submenu">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Proxima fecha </a>
									<ul class="dropdown-menu">
										{% for torenoZona in torneozona.zonas %} 
											<li><a href="estadisticasProximafecha.php?idTorneoZonaActiva={{ torenoZona.id }}&idZonaActiva={{ torenoZona.id_zona }}&idTorneoActivo={{ torneozona.torneo.id }}"> {{ torenoZona.nombreCorto }} </a></li>
										{% endfor %}
									</ul>
							  </li>
							  <li> <a href="estadisticasPlayOff.php?idTorneoActivo={{ torneozona.torneo.id }}"> Play-Off </a> </li>
						</ul>
				 	</li>
			 {% endfor %}
		</ul>
 </div>
</div>
{% endblock %}